.header{
  display: flex;
  position: fixed;
  flex-direction: row;
  background-color: rgba(122, 4, 4, 0.825);
  color: whitesmoke;
  padding: 10px;
  height: 50px;
  font-family:sans-serif;
  font-size: 30px;
  font-weight: bold;
  box-shadow: 0px 1px 7px 1px rgb(229 2 2);
  width: -webkit-fill-available;
  justify-content: space-between;
  align-items: center;
}
.name{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.movimg{
  width: 45px;
  height: 45px;
  margin: 5px;
  border-radius: 13px;
}
.searchBox{
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
  padding-left: 0px;
  background-color: white;
  border-radius: 20px;
  margin-left: 30px;
  border-radius: 15px;
  width: 50%;
  align-items: center;

}
.searchicon{
  width: 45px;
  height: 45px;
  border-radius: 15px;
}
.searchinput{
  color: black;
  font-size: 24px;
  font-weight: bold;
  border: none;
  outline: none;
  margin-left: 12px;

}
.listdis{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-evenly;
  padding-top: 90px;
  

}
.notfound{
  font-size: 30px;
  font-weight: bold;
}
